<ion-item class="custom-input" Lines="none">
  <ion-icon *ngIf="icon" slot="start" color="primary" [name]="icon"></ion-icon>
  <ion-input [type]="type" [autocomplete]="autoComplete" [label] = "label"
    [formControl] = "control"
    label-placement="floating">
  </ion-input>
  <ion-button *ngIf="isPassword" (click) = "mostrarOcultarPass()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'">
    </ion-icon>
  </ion-button>
</ion-item>