<app-header  title="Iniciar Sesión"></app-header>

<ion-content>
  <div class="d-flex-center">

    <form action="" class="auth-form">
      <app-logo></app-logo>
      <app-login-input></app-login-input>

      <div class="validators"></div>

      <p routerLink="forgot-password" class="ion-text-end">¿Olvidaste la contraseña?</p>

      <ion-button class="submit" expand="block" fill="outline" mode="ios">
        Ingresar
      </ion-button>

      <ion-button routerLink="sign-up" class="ion-margin-top" expand="block" fill="outline" mode="ios">
        Registrarse
      </ion-button>
    </form>

  </div>
</ion-content>