<app-header backButton="/auth" title="Recuperar contraseña"></app-header>

<ion-content>
  <div class="d-flex-center">

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">
      <p class="ion-text-center">Ingresa tu correo electrónico para enviarte un email de recuperacion</p>

      <app-login-input autoComplete="email" type="email" label="Correo" icon="mail-outline"
        [control]="form.controls.email">
      </app-login-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese el correo válido</div>
      </div>
      
      
      <ion-button class="submit" type="submit" expand="block" fill="outline" mode="ios" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>

  </div>
</ion-content>