<app-header backButton="/auth" title="Recuperar contraseña"></app-header>

<ion-content>
  <div class="d-flex-center">

    <form action="" class="auth-form">
      <p class="ion-text-center">Ingresa tu correo electrónico para enviarte un email de recuperacion</p>

      <app-login-input></app-login-input>

      <div class="validators"></div>
      
      
      <ion-button class="submit" expand="block" fill="outline" mode="ios">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>

  </div>
</ion-content>